

body {
  background-color: #000033;
}

iframe {
  width: 80%;
  height: 500px;
  border-width: 0px;
  margin-left: 10%;
  margin-top: 20px;
}

div {

}

#name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 180px;
  height: 45px;
  
  
}

p {
  text-align: center;
  font-family: "Century Gothic";
  color: #e68900;
  font-size: 35px;
}


#footer {
  background-color: #66ccff;
  height: 70px;
}

