



#name {
  
  
}

p {
  text-align: center;
  font-family: "Century Gothic";
  color: #ffffff;
  font-size: 35px;
  background-color: #e68a00;
  padding: 5px;
  width: 100px;
}

#footer {
  background-color: #0059b3;
}
