

div {
  background-color: #e68a00;
}

#name {
  display: block;
  width: 180px;
  height: 30px;
  
  
}

p {
  text-align: center;
  font-family: "Century Gothic";
  color: #ffffff;
  font-size: 35px;
}

#footer {
  background-color: #0059b3;
}
